
@import './nav.css';
@import './button.css';
@import './content.css';
@import './card.css';
@import './footer.css';

:root {
  --myGreen: #5fd67c; 
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.flex {
  display: flex;
}


body {
  background-image: url('../purple.png'); /* Ruta relativa desde la carpeta public */
  background-size: cover; /* La imagen cubre toda la pantalla */
  background-position: center; /* La imagen está centrada */
  background-repeat: no-repeat; /* La imagen no se repite */
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
  width: 100%;
}

