
@import './nav.css';
@import './button.css';
@import './content.css';
@import './card.css';

:root {
  --myGreen: #5fd67c; 
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.flex {
  display: flex;
}


body {
  background-image: url('../purple.png'); /* Ruta relativa desde la carpeta public */
  background-size: cover; /* La imagen cubre toda la pantalla */
  background-position: center; /* La imagen está centrada */
  background-repeat: no-repeat; /* La imagen no se repite */
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
  width: 100%;
}



/*footer*/

.footer {
  background-color: #313342;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.payment-methods {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 12rem;
  background-color: #2B2D2C;
}

.payment-methods img {
  height: 40px;
  margin: 0 10px;
}

.payment-methods span {
  margin-left: 10px;
  font-size: 1rem;
  color: #ccc;
}

.social-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12rem;

}

.social-icons img {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.footer{
  width: 100vw;
  margin: auto;
}

.payment-methods,
.social-icons,
.footer-links,
.footer-bottom {
  max-width: 1200px; /* Limita el contenido para que no se estire demasiado */
  margin: 0 auto; /* Centra el contenido dentro del footer */
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 13rem;
  margin-right: 13rem;
  border-top: 1.5px solid #4f5280;
  padding-top: 2rem;
}

.footer-links img {
  margin-right: 4rem;
}

.footer-links p{
  font-size: small;
}

.footer-links .rate {
  display: flex;
  align-items:flex-start;
  padding-top: 10px;
}

.footer-links span {
  font-size: 0.8rem;
}

.footer-links h3 {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {

  padding-top: 5px;
  color: #666;
  font-size: 0.9rem;
}

