

nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #313342;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
}

.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding-bottom: 0.25rem;
  border-right: 2px solid #FAFBFD;
  padding-right: 2rem;
}

.nav-linksL, .nav-linksR, .auth-buttons {
  display: flex;
  list-style: none;
}

.nav-linksL li {
  margin-left: 45px;
}

.nav-linksR li {
  margin-left: 45px;
}

.nav-linksL a, .nav-linksR a, .auth-buttons a {
  color: #FAFBFD;
  text-decoration: none;
  font-size: 0.7rem;
  margin-right: 2px;
}

.nav-links a:hover {
  color: #e3e3e3;
}

.auth-buttons {
  display: flex;
  align-content: center;
}

.sign-in-btn {
  all: unset;
  height: 0.2px;
  background-color: #63c37b;
  font-size: 0.7rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/*cards content*/

.content {
  padding: 2rem 0;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 10rem;
}

#inside {
  background-color: #a29e9e;
}

.cards-container, .top-cards, #pass-pages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/*card*/
.card {
  background-color: rgb(118, 118, 255);
  width: 17rem;
  height: 23rem;
  padding: 1rem;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 12rem;
  position: relative;
  text-align: center;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card p {
  color: white;
  padding: 1rem;
}

.image span {
  position: absolute;
  bottom: 8px;
  left: 75%;
  padding: 0.4rem;
  border-radius: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-25%);
}

.card button {
  margin-top: auto;
  padding: 0.5rem 1rem;
  background-color: #4c4caf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover{
  background-color: #5c5cd3;
  transition-duration: 300ms;
}

/*finish card*/

.top-buttons {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
}

.dropdown-list-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list-item:hover {
  background-color: #f1f1f1;
}


