
:root {
  --myGreen: #5fd67c; 
}


.flex {
  display: flex;
}


body {
  background-image: url('purple.png'); /* Ruta relativa desde la carpeta public */
  background-size: cover; /* La imagen cubre toda la pantalla */
  background-position: center; /* La imagen está centrada */
  background-repeat: no-repeat; /* La imagen no se repite */
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la pantalla */
  margin: 0; /* Elimina cualquier margen predeterminado del body */
}

nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #313342;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  width: 100%;
}

.nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding-bottom: 0.25rem;
  border-right: 2px solid #FAFBFD;
  padding-right: 2rem;
}

.nav-linksL, .nav-linksR, .auth-buttons {
  display: flex;
  list-style: none;
}

.nav-linksL li {
  margin-left: 45px;
}

.nav-linksR li {
  margin-left: 45px;
}

.nav-linksL a, .nav-linksR a, .auth-buttons a {
  color: #FAFBFD;
  text-decoration: none;
  font-size: 0.7rem;
  margin-right: 2px;
}

.nav-links a:hover {
  color: #e3e3e3;
}

.auth-buttons {
  display: flex;
  align-content: center;
}

.sign-in-btn {
  all: unset;
  height: 0.2px;
  background-color: var(--myGreen);
  font-size: 0.7rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/*cards content*/

.content {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 3rem 13rem;
}

.content h2 {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
}

#inside {
  background-color: #313342;
  border: 2px solid #464b6b ;
}

.cards-container, .top-cards, #pass-pages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.centered-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  gap: 10px; 
}

/*card*/
.card {
  background-color: #333649;
  width: 120px; /* Ajusta el tamaño de la tarjeta */
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-green {
  color: var(--myGreen);
  font-size: 10px;
  margin-right: 5px;
}

.card-amount {
  background-color: #3c445b;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.card-amount input {
  all: unset;
  width: 30px;
  background-color: transparent;
}


.card-stock {
  background-color: transparent;
  color: var(--myGreen);
  padding: 2px 1px;
  border-radius: 5px;
  border: 1px solid var(--myGreen);
  margin-bottom: 2px;
  margin-top: 0;
  text-align: center;
  width: 4rem;
}



.image {
  margin-top: 5px;
  text-align: left;
}

.image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.card-details {
  text-align: left;
}


#card-state {
  display: flex;
  font-size:x-small;
  align-items: center;
  margin: 0;
}

.card-name {
  font-weight: bold;
  margin: 0;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.card-price {
  font-size: 12px;
  color: white;
  margin: 5px 0;
}

.old-price {
  text-decoration: line-through;
  color: #ff5252;
  font-size: 12px;
}

.card-description {
  font-size: 12px;
  color: #b0b0b0;
  margin: 6px 0;
}

.card-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.details-btn,
.add-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.add-btn {
  background-color: #4c56c0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;

}

.add-btn svg {
  margin-left: 5px;
}

/*finish card*/

.top-buttons {
  display: flex;
}

.top-cards {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

/* .dropdown {
  position: relative;
  display: inline-block;
} */

.dropdown-button {
  padding: 10px;
  background-color: #37394E;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-button-opac{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05); /* Blanco con 90% opacidad */
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 10px;
}


.dropdown-button-lg {
  width: 15rem;
  height: 3rem;
  color: white;
  gap: 5rem;
}

#filters {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.text-btn {
  display:flex;
  flex-direction: column;
}

.label-btn {
  font-size: 1rem;
  font-weight: 600;
}

.title-btn, .label-btn{
  display: grid;
  justify-content: start;
}

.dropdown-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
}

.dropdown-list-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list-item:hover {
  background-color: #f1f1f1;
}

/*search button*/

.search-form {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente si es necesario */
  align-items: center;
  width: 100%; /* Asegura que el form ocupe el 100% del ancho disponible */
  max-width: 600px; /* Ajusta el ancho máximo si es necesario */
}

.search-container {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%; /* Mantiene el ancho al 100% del contenedor */
  height: 30px;
  padding: 8px 32px 8px 40px; /* Padding ajustado para el ícono */
  background-color: transparent; /* Fondo transparente */
  border: none; /* Elimina los bordes */
  border-radius: 4px; /* Puedes ajustar el borde redondeado si lo deseas */
  font-size: 16px;
  color: #fff; /* Texto de color blanco (o cualquier otro que prefieras) */
  box-sizing: border-box; /* Asegura que el padding y otros estilos no afecten el tamaño */
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.9); /* Cambia el color a blanco semi-transparente */
  opacity: 1; /* Asegura que la opacidad se aplique completamente en algunos navegadores */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  pointer-events: none; /* Asegura que el icono no interrumpa la escritura */
}

.search-input:focus {
  outline: none;
}

/*pagination*/
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.pagination-button {
  background-color: #333649;
  color: white;
  border: 1px solid #4c56c0;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #4e5671;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #4e5671;
}

.pagination-pages {
  display: flex;
  gap: 5px;
}

.pagination-number {
  background-color: #3c445b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-number:hover {
  background-color: #4e5671;
}

.pagination-number.active {
  background-color: #4c56c0;
  font-weight: bold;
}

/*footer*/

.footer {
  background-color: #313342;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.payment-methods {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 12rem;
  background-color: #2B2D2C;
}

.payment-methods img {
  height: 40px;
  margin: 0 10px;
}

.payment-methods span {
  margin-left: 10px;
  font-size: 1rem;
  color: #ccc;
}

.social-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12rem;

}

.social-icons img {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

.footer{
  width: 100vw;
  margin: auto;
}

.payment-methods,
.social-icons,
.footer-links,
.footer-bottom {
  max-width: 1200px; /* Limita el contenido para que no se estire demasiado */
  margin: 0 auto; /* Centra el contenido dentro del footer */
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 13rem;
  margin-right: 13rem;
  border-top: 1.5px solid #4f5280;
  padding-top: 2rem;
}

.footer-links img {
  margin-right: 4rem;
}

.footer-links p{
  font-size: small;
}

.footer-links .rate {
  display: flex;
  align-items:flex-start;
  padding-top: 10px;
}

.footer-links span {
  font-size: 0.8rem;
}

.footer-links h3 {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.8rem;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {

  padding-top: 5px;
  color: #666;
  font-size: 0.9rem;
}

